.para{
    height: 300px;
    width: 300px;
}
.outerDiv {
    margin-left: 15%;
    margin-top: 40px;
    width: 100%;
}
.innerDiv{
    width: 97%;
    display: inherit ;
}
.inDiv{
    padding: 0px 7px;
    float: left;
    margin-bottom: 10px;
}
.innerMost{
    margin: 0px;
}
.noWrap{
    flex-wrap: nowrap;
}
.OfferButton {
    float: left;
    outline: none;
    background-color:orange;
    border: none;
    margin: 8px;
    border-radius: 3px;
    color: white;
    padding: 3px 10px;
}
.imgDiv {
    padding-bottom: 0px;
    padding-top: 10px;
}
.productDescDiv{
    margin: 0px 15px 0px 15px;

}
.titlePara {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.descPara{
    font-size: 13px;
    margin: 0px 0px 18px;
}
.priceDiv{
    padding-right: 0px;
}
.pricePara{
    font-weight: 600;
    margin: 0px;
}
.lowerDiv{
    padding: 0px;
}
.addCartButton{
    outline: none;
    border: none;
    background-color: orange;
    color: white;
    padding: 5px 16%;
    border-radius: 6px;
    margin-left: 6%;
    margin-top: 13px;
}
.image{
    height: 150px;
    width: 100%;
    border: 1px solid red;
}
.itemcontainer{
    
    float: left;
    width: 100%;
}
